<div class="parallax d-flex justify-content-center align-items-center">
    <h2 class="text-uppercase text-white fs-1">Единственото място за Вас и Вашите домашни любимци</h2>
</div>

<section id="categories">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 my-4">
                <div class="box">
                    <a routerLink="/products">
                        <h3 class="p-3">
                            Домашни любимци
                            <i class="fa-solid fa-dog"></i>
                        </h3>
                        <img class="w-100" src="../../../assets/img/home/animals.jpg" alt="Animals">
                        <p class="p-3">
                            Открийте своя верен спътник и най-добър приятел сред нашите разнообразни домашни любимци. Всяко животно при нас чака да направи някой щастлив!
                        </p>
                    </a>
                </div>
                <div class="btn-row text-center mt-3">
                    <a class="btn btn-custom-primary" routerLink="/products">Виж повече</a>
                </div>
            </div>
            <div class="col-lg-4 my-4">
                <div class="box">
                    <a routerLink="/products">
                        <h3 class="p-3">
                            Храна
                            <i class="fa-solid fa-bowl-food"></i>
                        </h3>
                        <img class="w-100" src="../../../assets/img/home/cat-food.jpg" alt="Animals">
                        <p class="p-3">
                            Подхранвайте своя любимец с най-доброто! Предлагаме богат избор на висококачествена храна, която ще поддържа здравето и енергията му на върха.
                        </p>
                    </a>
                </div>
                <div class="btn-row text-center mt-3">
                    <a class="btn btn-custom-primary" routerLink="/products">Виж повече</a>
                </div>
            </div>
            <div class="col-lg-4 my-4">
                <div class="box">
                    <a routerLink="/products">
                        <h3 class="p-3">
                            Аксесоари
                            <i class="fa-solid fa-futbol"></i>
                        </h3>
                        <img class="w-100" src="../../../assets/img/home/accessories.webp" alt="Animals">
                        <p class="p-3">
                            Зарадвайте своя домашен любимец с нашата широка гама от аксесоари – от стилни огърлици до забавни играчки, които ще направят всеки ден още по-специален.
                        </p>
                    </a>
                </div>
                <div class="btn-row text-center mt-3">
                    <a class="btn btn-custom-primary" routerLink="/products">Виж повече</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="my-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex justify-content-center flex-column">
                <h2 class="text-uppercase">Повече за нас</h2>
                <p class="text-justify">
                    Основан с страст и грижа, нашият магазин за домашни любимци предлага всичко необходимо за вашите четириноги приятели под един покрив. От висококачествена храна и стилни аксесоари до здравословни и вкусни лакомства, ние се грижим всяко животно да получи най-доброто. Научете повече за нашата мисия и ангажимент към общността на любителите на животни, като посетите нашата страница "За нас".
                </p>

                <div class="more-btn">
                    <a class="btn-custom-primary" routerLink="/about">Разбери повече</a>
                </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center">
                <img class="w-100" src="../../../assets/img/home/us.jpg" alt="Our team">
            </div>
        </div>
    </div>
</section>
