<div class="container my-5">
  <h2 class="text-center mt-2">Поръчки</h2>

  <table class="table my-4" *ngIf="orders.length">
    <thead>
      <tr>
        <th scope="col">№</th>
        <th scope="col">Артикули</th>
        <th scope="col">Адрес</th>
        <th scope="col">Дата</th>
        <th scope="col">Цена</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>
          {{order.id}}
        </td>
        <td>
          <p *ngFor="let product of order.products">
            {{product.title}} - x{{product.pivot.quantity}}
          </p>
        </td>
        <td>
          {{order.office ?? 'Не е посочен'}}
        </td>
        <td>
          {{order.date}}
        </td>
        <td>
          {{calculatePrice(order.products).toFixed(2)}}
        </td>
      </tr>
    </tbody>
  </table>

  <div class="alert alert-warning d-flex align-items-center my-5" role="alert" *ngIf="!this.orders.length">
    <i class="fa-solid fa-triangle-exclamation me-2"></i>
    Няма намерени резултати
  </div>
</div>

