<div class="container">
  <h2 class="text-center mt-2">Поръчки</h2>

  <table class="table my-4">
    <thead>
      <tr>
        <th scope="col">№</th>
        <th scope="col">Артикули</th>
        <th scope="col">Адрес</th>
        <th scope="col">Дата</th>
        <th scope="col">Цена</th>
      </tr>
    </thead>
    <tbody *ngIf="orders.length">
      <tr *ngFor="let order of orders">
        <td>
          {{order.id}}
        </td>
        <td>
          <p *ngFor="let product of order.products">
            {{product.title}} - x{{product.pivot.quantity}}
          </p>
        </td>
        <td>
          {{order.office ?? 'Не е посочен'}}
        </td>
        <td>
          {{order.date}}
        </td>
        <td>
          {{calculatePrice(order.products).toFixed(2)}}
        </td>
      </tr>
    </tbody>
  </table>
</div>

