<div class="parallax d-flex justify-content-center align-items-center">
    <h2 class="text-uppercase fs-1">Свържете се с нас</h2>
</div>

<section id="contact" class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex align-items-center justify-content-center flex-column">
                <h3>
                    Можете да се свържете с нас и на посочените контакти:
                </h3>

                <div class="row mt-3 w-100">
                    <div class="col-lg-6">
                        <p class="fs-4">
                            <i class="fa-solid fa-envelope"></i> 
                            <a class="text-dark ps-2" href="mailto:email@example.com">emailexample.com</a>
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <p class="fs-4">
                            <i class="fa-solid fa-phone"></i> 
                            <a class="text-dark ps-2" href="tel:+359888224502">+359888224502</a>
                        </p>
                    </div>
                    <div class="col-12 mt-4">
                        <span class="fs-4 fw-bold d-block">Адрес:</span>
                        <span class="d-block mt-2">Западна промишлена зона 9009, Младост, Варна</span>
                    </div>
                </div>    
            </div>
            <div class="col-lg-6">
                <div class="form-wrapper">
                    <h2 class="text-uppercase text-center text-white mb-4">Изпратете вашето запитване</h2>
                    <form>
                        <div class="form-floating my-3">
                            <input type="text" class="form-control" id="name" placeholder="Иван Иванов">
                            <label for="name">Име:</label>
                        </div>
                        <div class="form-floating my-3">
                            <input type="email" class="form-control" id="email" placeholder="example@email.com">
                            <label for="exampleInputEmail1">Електронна поща:</label>
                        </div>
                        <div class="form-floating my-3">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            <label for="exampleFormControlTextarea1">Запитване:</label>
                        </div>

                        <div class="submit-group text-center">
                            <button class="btn btn-light" type="submit">
                                Изпрати запитване
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>