
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$black-and-white-primary: mat.define-palette(mat.$grey-palette, 900); // use a dark shade for primary
$black-and-white-accent: mat.define-palette(mat.$grey-palette, 100);  // use a light shade for accent
$black-and-white-warn: mat.define-palette(mat.$red-palette);          // keep warn as red for visibility or change to grey if preferred

// Create the black and white theme object
$black-and-white-theme: mat.define-light-theme((
  color: (
    primary: $black-and-white-primary,
    accent: $black-and-white-accent,
    warn: $black-and-white-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app
@include mat.all-component-themes($black-and-white-theme);

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

/* You can add global styles to this file, and also import other style files */
$bg_primary: #627254;
$bg_secondary: #76885B;
$text_primary: #EEEEEE;
$text_secondary: #DDDDDD;

.bg-primary-custom {
    background-color: $bg_primary;
}

.bg-secondary-custom {
    background-color: $bg_secondary;
}

.btn-custom-primary {
    background-color: $bg_primary;
    color: $text_primary;
    border-radius: 10px;
    padding: 8px 18px;

    &:hover {
        background-color: $bg_secondary;
    }
}

a {
    color: $text_primary;
    text-decoration: none;
}

.text-justify {
    text-align: justify;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.color-green {
    color: $bg_primary;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
