<div class="container">
    <h2 id="animals" class="text-center mt-5">Животни</h2>
    <div class="row">
      <div class="col-lg-3 mt-4 p-0">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Филтрирай по категория
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li *ngFor="let category of animalCategories">
              <a class="dropdown-item" href="#" (click)="filterByAnimalCategory($event, category)">{{ category }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-xl-3 my-4 p-0" *ngFor="let animal of animals">
        <div class="card" style="width: 18rem;">
          <img class="w-100" src="../../../assets/img/home/animals.jpg" alt="Animal Image">
          <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="card-title">{{ animal.title ?? 'Животно' }}</h5>
            <div class="action-row">
              <button class="btn btn-custom-primary">Виж</button>
            </div>
          </div>
        </div>  
      </div>
      <div class="alert alert-warning d-flex align-items-center mt-3" role="alert" *ngIf="!this.animals.length">
        <i class="fa-solid fa-triangle-exclamation me-2"></i>
        Няма намерени резултати
      </div>
    </div>

    <h2 id="food" class="text-center mt-5">Храна</h2>
    <div class="row">
      <div class="col-12 col-md-6 col-xl-3 my-4 p-0" *ngFor="let food of foods">
        <div class="card" style="width: 18rem;">
          <img class="w-100" src="../../../assets/img/home/animals.jpg" alt="Animal Image">
          <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="card-title">{{ food.title ?? 'Храна' }}</h5>
            <div class="action-row">
              <button class="btn btn-custom-primary">Виж</button>
            </div>
          </div>
        </div>  
      </div>
    </div>

    <h2 id="accessories" class="text-center mt-5">Аксесоари</h2>
    <div class="row">
      <div class="col-12 col-md-6 col-xl-3 my-4 p-0" *ngFor="let accessoriy of accessories">
        <div class="card" style="width: 18rem;">
          <img class="w-100" src="../../../assets/img/home/animals.jpg" alt="Animal Image">
          <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="card-title">{{ accessoriy.title ?? 'Храна' }}</h5>
            <div class="action-row">
              <button class="btn btn-custom-primary">Виж</button>
            </div>
          </div>
        </div>  
      </div>
    </div>
</div>

<div class="floating-menu position-fixed bottom-0 end-0 p-3">
  <div class="btn-group-vertical" role="group" aria-label="Quick navigation">
    <button type="button" class="btn btn-custom-primary m-0" (click)="scrollTo('animals')">Животни</button>
    <button type="button" class="btn btn-custom-primary m-0" (click)="scrollTo('food')">Храна</button>
    <button type="button" class="btn btn-custom-primary m-0" (click)="scrollTo('accessories')">Аксесоари</button>
  </div>
</div>