<footer class="bg-primary-custom p-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 mb-2">
                <h2 class="text-center text-white">Благодарим Ви, че избрахте нас!</h2>
                <p class="text-center text-white mt-3">&copy;Pawfect Companions</p>
            </div>
            <div class="col-lg-6 text-white d-flex align-items-center flex-column justify-content-center">
                <p class="fs-4">
                    <i class="fa-solid fa-envelope"></i> 
                    <a class="text-white ps-2" href="mailto:email@example.com">emailexample.com</a>
                </p>
                <p class="fs-4">
                    <i class="fa-solid fa-phone"></i> 
                    <a class="text-white ps-2" href="tel:+359888224502">+359888224502</a>
                </p>
                <span class="fs-5 fw-bold d-block mt-4">Адрес:</span>
                <span class="d-block mt-2">Западна промишлена зона 9009, Младост, Варна</span>
            </div>
            <div class="col-lg-6 my-3 d-flex align-items-center">
                <iframe class="w-100" src="https://maps.google.com/maps?q=43.223151, 27.8739755&z=15&output=embed" width="360" height="270" frameborder="0" style="border:0"></iframe>
            </div>
        </div>
    </div>
  
</footer>
